# Ignore node_modules and vendor directories
node_modules
vendor

# Ignore environment variables
# .env
# .env.local
# .env.development
# .env.testing
# .env.production

# Ignore logs and temp files
storage/logs
storage/framework/cache
storage/framework/sessions
storage/framework/views
storage/debugbar
*.log
*.tsbuildinfo
.DS_Store
*.swp

# Ignore Docker-related files
Dockerfile
docker-compose.yml

# Unrelated project files
frontend
